body {
 background-color: #adccc7;
 font-family: 'Open-Sans', sans-serif;
 font-size: 15px;
 line-height: 1.6em;
}

h1, h2, h3 {font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #5c848e;
  font-size: 30px;
}

h2 {
  color: #1d2323;
  font-size: 24px;
}

h3 {
  color: #1d2323;
  font-size: 21px;
}

a {
  text-decoration: none;
  color: #1d2323;
}

.container {
  width: 750px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.text-center {
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.list-inline li {
  display: inline;
}
